/* moodalbox CSS */
div#mb_overlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000;
	cursor: pointer;
	z-index:999;
}
div#mb_center, div#mb_bottom {
	position: absolute;
	left: 50%;
	overflow: hidden;
	background-color: #c8ddff;
}
div#mb_center {
	background-color: #FFF;
	z-index:1000;
}
div#mb_contents {
	width: 400px;
	height: 400px;
	border-bottom: 1px solid #b2cbf2;
	overflow: auto;
	background-color: #FFF;
	visibility: hidden;
	padding:10px;
	font:12px/18px Arial, Helvetica, sans-serif;
}
.mb_loading {
	background: #DDD url(../images/loading.gif) no-repeat center center;
}
#mb_error {
	font-size: 1.2em;
	color: #CD0000;
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	font-family: Verdana, Helvetica, sans-serif;
}
#mb_error em {
	font-size: 0.8em;
}
div#mb_bottom {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border-top: 0;
	border-bottom: 10px solid #c8ddff;
	border-left: 10px solid #c8ddff;
	border-right: 10px solid #c8ddff;
	border-top-style: none;
	z-index:1000;
}
a#mb_close_link {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 5px 0;
}
div#mb_caption {
	margin-right: 71px;
	padding-top:8px;
	border-top:1px solid #fff;
	color:#4b6da4;
}